body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AEBDCA;
    margin: auto;
}

.navbar {
    overflow: hidden;
    background-color: white;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #1C315E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #1C315E;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #E4DCCF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #1C315E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #E4DCCF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu {
    float: left;
    overflow: hidden;
    margin: 20px;
    align-items: center;
}

.btn {
    appearance: button;
    -webkit-appearance: button; /* Safari and Chrome */
    -moz-appearance: button; /* Firefox */
    -ms-appearance: button; /* Internet Explorer */
    -o-appearance: button; /* Opera */
    text-decoration: none;
    padding: 2px 20px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: #1C315E;
    cursor: pointer;
}

.btn:hover {
    background-color: #E4DCCF;
}

.navbar .logo a:hover {
    background-color: white;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container > div {
    width: 500px;
    margin: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.hero {
    margin: auto;
    padding: 150px 0;
    text-align: center;
    background-color: #7286D3;
}

footer {
    margin: auto;
    padding: 20px 0 20px 30px;
    background-color: white;
}

/* Calculator */

.flex-container-column {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
}

.flex-container-row  {
    display: flex;
}

.button {
    flex-basis: 25%;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
}

.double {
    flex-basis: 50%;
}

.display {
    color: white;
    width: auto;
    padding: 10px 20px;
    background-color: #333333;
    border: 1px solid black;
    font-size: 2em;
}

.operator,
.negative,
.equals {
    background: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

.button:hover {
    font-weight: bold;
}

.history {
    width: 80%;
    margin: 30px auto 30px auto;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: orange;
    color: white;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: #d2d2d2;
}

@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
    .history {
        width: 100%;
    }
}